$poppins: 'Poppins', sans-serif;
$reddish-orange: #fc5e47;

body {
  margin: 0;
  padding: 0;
  font-family: $poppins;
}

header {
  background: $reddish-orange;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  margin: 0;
  padding: 0;
  z-index: 100;

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    margin: 0;
    padding: 15px;
    color: white;
  }
}

.scene {
  position: absolute;
  width: 100vw;
  top: 80px;
  height: calc(100vh - 80px);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1.0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-size: 30px;
  background: white;
  margin: 0 auto;
  padding-top: 200px;

  @media only screen and (min-width: 768px) {
    font-size: 50px;
  }

  a {
    color: $reddish-orange;
  }
}

.loading {
  transition: 1.5s all ease-out;

  h1 {
    opacity: 1.0;
    transition: 1.5s all ease-out;
  }
}


.hidden {
  opacity: 0;
  h1 {
    opacity: 0;
  }
}